
  .image { 
    position: relative; 
    width: 100%; /* for IE 6 */
 }
span { 
    position: absolute; 
    top: 0px; 
    left: 0; 
   color: white;
    width: 100%; 
  }
 h1{

    font-family: 'Lato', sans-serif;
    font-weight: 400;
 }
 .rotateImage{
   transform:  rotate(90deg);

 }
 .rotateImageInverse{
  transform:  rotate(-90deg);
  

}
 .trial{

 
  display: grid;  
  grid-template-columns: 8fr 8fr 8fr;  
  grid-template-rows: 150px 150px; 

 }